<h1>Mails</h1>

<div class="tracy-inner" style="min-width: 900px;">
	<div class="tracy-inner-container">

		<?php for ($i = 0, $iMax = count($mails); $i < $iMax; $i++): ?>
			<table width="100%">
				<tr>
					<th>Sended</th>
					<td><?php echo ($mails[$i]["data"]["sended"] ? '<span style="color:forestgreen;font-weight: bold">SENDED</span>' : '<span style="color:red;font-weight: bold">FAIL</span><div style="color:red">'.$mails[$i]["data"]["error"].'</div>')?></td>
				</tr>
				<?php // Display mail headers ?>
				<?php foreach ($mails[$i]["message"]->getHeaders() as $k => $v): ?>
					<tr>
						<th><?= $k; ?></th>
						<td><?= Tracy\Dumper::toHtml($v); ?></td>
					</tr>
				<?php endforeach; ?>

				<?php if (!empty($mails[$i]["message"]->getHtmlBody())): ?>
					<tr>
						<td style="background-color:#ffffff;padding: 0" colspan="2">
							<iframe style="width:100%;height:425px"
							        srcdoc="<?= str_replace('"', '&quot;', $mails[$i]["message"]->getHtmlBody()); ?>"
							></iframe>
						</td>
					</tr>
				<?php endif; ?>

			</table>

			<?= $i < ($iMax - 1) ? '<br>' : ''; ?>
		<?php endfor; ?>

	</div>
</div>