<span class="tracy-label">
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 239.3 161.3">
		<g>
			<path d="M233.4 48.1c0 31.6.1 63.3 0 94.9 0 6.6-6.9 12.7-13.9 12.7H20.7c-8.8 0-14.8-6-14.8-14.9V51.2c0-7.6.5-7.9 7.2-4.4 31 16.5 61.9 33 92.8 49.7 9.3 5 18.2 5 27.5 0 30.8-16.6 61.7-33 92.5-49.5 1-.5 2-1.1 3-1.6 3.3-1.4 4.5-.8 4.5 2.7z" style="fill:#007dff"/>
			<path d="M14.9 20.7c-3.4-1.9-6.3-4.2-7.9-7.8-1.8-3.9-.2-6.7 4.2-7.1 1.3-.1 2.5-.1 3.8-.1H225.1c2.8 0 6.2-.6 7.5 2.8 1.3 3.4-.9 6-3 8.4-1.4 1.6-3.3 2.7-5.1 3.8-30.6 16.8-61.1 33.6-91.6 50.3-8.7 4.8-17.5 4.8-26.2 0C76 54.2 45.5 37.4 14.9 20.7z" style="fill:#007dff"/>
		</g>
	</svg>&nbsp;<?= $mailsCount ?>
</span>